In [ ]:
lista = ["Paleta","Jamón","Mortadela","Queso"]  # lista
for elemento in range(len(lista)):  # recorre elementos de lista
    print (elemento, lista[elemento])  # muestra posición y elemento

0 Paleta
1 Jamón
2 Mortadela
3 Queso

# Declaramos las correspondientes variables:

In [ ]:
var1 = "contenido"                     #string
var2 = 2                               #integer
var3 = 3.14                            #float
var_list = [var1, var2, var3]          #list
var_tuple = (var1, var2, var3)         #tuple
#Diccionarios: a los mismos les corresponde una clave y un valor de la forma que muestramos a continuacion variable = {clave: valor}
thisdict = {
  "marca": "Ford",
  "modelo": "Mustang",
  "año": 1964
}

set1 = {"ford", "mustang", 1964}
# autos.json
[
  {
  "marca": "Ford",
  "modelo": "Mustang",
  "año": 1964,
  "vendidos": 5
  },
  {
  "marca": "Ford",
  "modelo": "Mustang",
  "año": 1964,
  "vendidos": 8
  }
]

#booleanos:
bool1 = True #1
bool2 = False #0

In [ ]:
concatenado = var1 + " concatenado"
print(concatenado)

contenido concatenado

#Las imprimimos:

In [ ]:
print(var1)
print(var2)
print(var3)
print(True)                            #Boolean
print(False)                           #Bollean
print("Hola Mundo")

contenido
2
3.14
True
False
Hola Mundo

#Recorremos una lista con un iterable for:

In [ ]:
#La funcion len() es equivalente a la cantidad de variables contenidas en la lista, en este caso es igual a 3.
#La funcion range() es relativa a una continuidad desde la posicion 0 a el numero que encontramos con la funcion len() por lo que este for va a recorrer hasta la posisión 2 ya que en python comenzamos a contar desde el 0.
var_list = [var1, var2, var3]  

#range(start,stop,step)
#f strings
for i in range(len(var_list)):
  print(f"{var_list[i]}")             #con f strings llamamos a los elementos de la lista mediante etiquetas y con [i] hacemos un manejo de variables que recorre la misma uno a la vez.

contenido
2
3.14

Funcionamiento de un bucle while:

In [ ]:
contador = 0

while contador < 3:
    print("contenido del iterador")
    contador = contador + 1             #En este acumulador guardamos la condición del while.
else:
    print("contenido del caso contrario")
#En la cuarta iteración, la condición que utilizamos en el while se convierte en False. Por lo tanto, la parte del else es ejecutada.

contenido del iterador
contenido del iterador
contenido del iterador
contenido del caso contrario

Condicionamos en un bucle if:

In [ ]:
# Si el número es positivo, imprimimos por pantalla la sentencia correcta.

num = 0            #probar tambien con -1 y con 0

if num > 0:
    print("Es un numero positivo")
elif num == 0:
    print("Es neutro")
else:
    print("Es un numero negativo")

Es neutro

Utilización del comando .sort() para ordenar variables contenidas en una lista.

In [ ]:
mi_lista = [67, 2, 999, 1, 15]            #Declaramos la lista

# esto imprime la lista NO ordenada
print("Lista desordenada: ", mi_lista)

# Ordenemos la lista
mi_lista.sort()

# aquí tendremos la lista ordenada
print("Lista Ordenada: ", mi_lista)

Lista desordenada:  [67, 2, 999, 1, 15]
Lista Ordenada:  [1, 2, 15, 67, 999]

In [ ]:
try:
    # Bloque de código que puede generar una excepción
    x = 10 / 2
    print(int(x))
except ZeroDivisionError:
    # Manejo de la excepción ZeroDivisionError
    print("¡Error! No es posible dividir entre cero.")

5

In [ ]:
import pandas as pd

#como leer un archivo en excel
df = pd.read_excel('file.xlsx')

In [ ]:
x = [0,1,2,3,4,5,6,7,8,9]
y = ['hola','que tal','como estás','chau']
s = 'hola'
#manejo de listas similar a los parametros de range(star, stop, step) stop=index
sliced = x[1:8:2]
print(sliced)

[1, 3, 5, 7]