#**Atajos de Markdown en Google Colab** **(Bonus)**
Atajos más comunes de Markdown para utilizar en **Google Colab**:

#**Títulos**
Para crear un título, debes colocar el número de signos # correspondiente al nivel del título, seguido de un espacio y el texto del título.
**Por ejemplo:**

# Título nivel 1
## Título nivel 2
### Título nivel 3

#**Negrita** y *cursiva*
Para resaltar texto, puedes usar los asteriscos o guiones bajos. Si colocas uno a cada lado del texto, este se mostrará en cursiva. Si colocas dos, se mostrará en negrita.
**Por ejemplo:**

*Texto en cursiva*
**Texto en negrita**

#**Listas**
Para crear listas con viñetas, puedes usar un asterisco, un guion o un signo más seguido de un espacio. Para crear listas numeradas, simplemente coloca el número seguido de un punto y un espacio.
 **Por ejemplo:**

- Elemento 1
- Elemento 2
- Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

#**Enlaces e imágenes**
Para insertar un enlace, debes encerrar el texto del enlace entre corchetes y la URL entre paréntesis. Para insertar una imagen, debes usar una sintaxis similar, pero precediendo la URL con un signo de exclamación. **Por ejemplo:**

[Enlace a Google](https://www.google.com)
![Imagen de un gato](https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg)

#**Código**
Para mostrar código, puedes encerrarlo entre comillas invertidas ` o crear bloques de código usando tres comillas invertidas al principio y al final. **Por ejemplo:**

`print("Hola mundo")`

#**Citas**
Para citar texto, debes colocar el texto entre el signo de mayor que > y un espacio. Puedes anidar citas utilizando varios signos de mayor que. **Por ejemplo:**
> Esto es una cita
>> Esta es una cita anidada

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
print("hola mundo", 4.5, False, end="\n")
print("Hola")

hola mundo 4.5 False
Hola

In [ ]:
nombre = "juan"
apellido = "campias"
print(nombre, apellido)

juan campias

In [ ]:
input("Nombre: ")

Nombre: juan

str

In [2]:
nombre = input("Nombre: ")
apellido = input("Apellido: ")
apellido_minus = apellido.lower()
print(apellido_minus)

Nombre: Imanol
Apellido: Aguer
aguer

In [3]:
print(apellido)

Aguer

In [5]:
apellido.upper().count("A")

1

In [ ]:
x = "hola"
y = " mundo"

print(x+y)

hola mundo

#**Actividades a resolver en clase:**
##Act1: Calcular el área de un triángulo dado su base y altura. Pedir al usuario los valores de la base y la altura utilizando la función input(). Luego, calcular el área del triángulo e imprimir el resultado.

In [8]:
#Resolver ACT1 en esta celda.
base = input('Base: ')
altura = input('Altura: ')

def area_triangulo(base, altura):
    return int(base) * int(altura) / 2

print(area_triangulo(base, altura))

Base: 10
Altura: 20
100.0

##Act2: Convertir una temperatura en grados Celsius a Fahrenheit. Pedir al usuario el valor de la temperatura en Celsius utilizando la función input(). Luego, convertir la temperatura a Fahrenheit utilizando la fórmula F = (C * 9/5) + 32 e imprimir el resultado.

In [11]:
#Resolver ACT2 en esta celda.
user_input = input('Ingresa valor de temperatura en Celsius: ')

def celsius_a_fahrenheit(arg):
    fahrenheit = (int(arg) * 9/5) + 32;
    return fahrenheit

print(celsius_a_fahrenheit(user_input))

Ingresa valor de temperatura en Celsius: 10
50.0

##Act3: Escribir un programa que pida al usuario dos números y muestre por pantalla su división si el segundo número es distinto de cero, o un mensaje de error en caso contrario.

In [17]:
#Resolver ACT3 en esta celda.
num1 = int(input('Numero 1: '))
num2 = int(input('Numero 2: '))

def programa(arg1, arg2):
    if arg2 != 0:
        return arg1 / arg2
    else:
        return 'Error: imposible dividir por 0'
    
print(programa(num1, num2))

Numero 1: 10
Numero 2: 20
0.5

##Act4: Realizar un programa que lea tres números distintos y nos los muestre ordenados de menor a mayor.

In [24]:
#Resolver ACT4 en esta celda.

num1 = int(input('Numero 1:'))
num2 = int(input('Numero 2:'))
num3 = int(input('Numero 3:'))

def program(arg1, arg2, arg3):
    arr = [arg1, arg2, arg3]
    return sorted(arr)

print(program(num1, num2, num3))

Numero 1:100
Numero 2:20
Numero 3:5
[5, 20, 100]

##Act5: Escribir un programa que lea una cadena de texto y muestre por pantalla cuántas veces aparece cada letra del alfabeto en la cadena. El programa debe ignorar los espacios y los caracteres no alfabéticos.

In [25]:
#Resolver ACT5 en esta celda.

cadena = input("Ingrese una cadena de texto: ")
frecuencias = {}

for caracter in cadena:
    if caracter.lower() >= 'a' and caracter.lower() <= 'z':
        caracter = caracter.lower()
        if caracter in frecuencias:
            frecuencias[caracter] += 1
        else:
            frecuencias[caracter] = 1

for letra in 'cadenadetextoestructurada':
    if letra in frecuencias:
        print(f"La letra '{letra}' aparece {frecuencias[letra]} veces en la cadena.")
    else:
        print(f"La letra '{letra}' no aparece en la cadena.")

Ingrese una cadena de texto: sos un trolito
La letra 'c' no aparece en la cadena.
La letra 'a' no aparece en la cadena.
La letra 'd' no aparece en la cadena.
La letra 'e' no aparece en la cadena.
La letra 'n' aparece 1 veces en la cadena.
La letra 'a' no aparece en la cadena.
La letra 'd' no aparece en la cadena.
La letra 'e' no aparece en la cadena.
La letra 't' aparece 2 veces en la cadena.
La letra 'e' no aparece en la cadena.
La letra 'x' no aparece en la cadena.
La letra 't' aparece 2 veces en la cadena.
La letra 'o' aparece 3 veces en la cadena.
La letra 'e' no aparece en la cadena.
La letra 's' aparece 2 veces en la cadena.
La letra 't' aparece 2 veces en la cadena.
La letra 'r' aparece 1 veces en la cadena.
La letra 'u' aparece 1 veces en la cadena.
La letra 'c' no aparece en la cadena.
La letra 't' aparece 2 veces en la cadena.
La letra 'u' aparece 1 veces en la cadena.
La letra 'r' aparece 1 veces en la cadena.
La letra 'a' no aparece en la cadena.
La letra 'd' no aparece en la cadena.
La letra 'a' no aparece en la cadena.

##Act6: Escribir un programa que pida al usuario un número y muestre por pantalla su valor absoluto.

In [42]:
#Resolver ACT6 en esta celda.

def programa(arg):
    if arg < 0:
        return arg
    else:
        return -arg 
    
print(programa(int(input('Ingresa un numero: '))))

Ingresa un numero: -100
-100

##Act7: Escribir un programa que pida al usuario una lista de números separados por comas y muestre por pantalla el producto de dichos números.

In [ ]:
#Resolver ACT7 en esta celda.

##Act8: Escribir un programa que pida al usuario una lista de palabras y las muestre por pantalla ordenadas alfabéticamente.

In [ ]:
#Resolver ACT8 en esta celda.