In [70]:
import pandas as pd

## Topics in Part 4:
### 1) Sorting Data
### 2) Grouping and Aggregating (Analyzing and Exploring your Data)
### -------------------------------------

1 - Sorting Data

In [71]:
df = pd.read_json('./data.json')
df.head()

   id                       name             author  year
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                Neuromancer     William Gibson  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020

In [72]:
df.sort_values(by='name', ascending=True)

    id                                  name                author  year
20  21                   Alita: Battle Angel        Yukito Kishiro  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
7    8                       Brave New World         Aldous Huxley  2020
22  23                               Contact            Carl Sagan  2020
25  26                           Dark Matter          Blake Crouch  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
1    2                                  Dune         Frank Herbert  2020
8    9                          Ender's Game      Orson Scott Card  2020
5    6                            Foundation          Isaac Asimov  2020
6    7                              Hyperion           Dan Simmons  2020
12  13                              I, Robot          Isaac Asimov  2020
21  22                         Jurassic Park      Michael Crichton  2020
29  30                               Kindred     Octavia E. Butler  2020
30  31                               Lock In           John Scalzi  2020
2    3                           Neuromancer        William Gibson  2020
28  29                         Old Man's War           John Scalzi  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
3    4                            Snow Crash       Neal Stephenson  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
37  38                  The Andromeda Strain      Michael Crichton  2020
34  35                   The City & The City        China Mi√©ville  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
18  19                      The Hunger Games       Suzanne Collins  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
32  33                         The Leftovers          Tom Perrotta  2020
13  14                           The Martian             Andy Weir  2020
35  36                              The Road       Cormac McCarthy  2020
0    1                     The Space Odyssey      Arthur C. Clarke  2020
36  37                             The Stand          Stephen King  2020
15  16                The Three-Body Problem             Liu Cixin  2020
17  18                      The Time Machine            H.G. Wells  2020
19  20                 The War of the Worlds            H.G. Wells  2020
23  24                       The Windup Girl      Paolo Bacigalupi  2020

In [73]:
df.sort_values(by=['name','author'], ascending=False)

    id                                  name                author  year
23  24                       The Windup Girl      Paolo Bacigalupi  2020
19  20                 The War of the Worlds            H.G. Wells  2020
17  18                      The Time Machine            H.G. Wells  2020
15  16                The Three-Body Problem             Liu Cixin  2020
36  37                             The Stand          Stephen King  2020
0    1                     The Space Odyssey      Arthur C. Clarke  2020
35  36                              The Road       Cormac McCarthy  2020
13  14                           The Martian             Andy Weir  2020
32  33                         The Leftovers          Tom Perrotta  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
18  19                      The Hunger Games       Suzanne Collins  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
34  35                   The City & The City        China Mi√©ville  2020
37  38                  The Andromeda Strain      Michael Crichton  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
3    4                            Snow Crash       Neal Stephenson  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
28  29                         Old Man's War           John Scalzi  2020
2    3                           Neuromancer        William Gibson  2020
30  31                               Lock In           John Scalzi  2020
29  30                               Kindred     Octavia E. Butler  2020
21  22                         Jurassic Park      Michael Crichton  2020
12  13                              I, Robot          Isaac Asimov  2020
6    7                              Hyperion           Dan Simmons  2020
5    6                            Foundation          Isaac Asimov  2020
8    9                          Ender's Game      Orson Scott Card  2020
1    2                                  Dune         Frank Herbert  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
25  26                           Dark Matter          Blake Crouch  2020
22  23                               Contact            Carl Sagan  2020
7    8                       Brave New World         Aldous Huxley  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
20  21                   Alita: Battle Angel        Yukito Kishiro  2020

In [74]:
df.sort_values(by=['name', 'author'], ascending=[False, True], inplace=True)
df

    id                                  name                author  year
23  24                       The Windup Girl      Paolo Bacigalupi  2020
19  20                 The War of the Worlds            H.G. Wells  2020
17  18                      The Time Machine            H.G. Wells  2020
15  16                The Three-Body Problem             Liu Cixin  2020
36  37                             The Stand          Stephen King  2020
0    1                     The Space Odyssey      Arthur C. Clarke  2020
35  36                              The Road       Cormac McCarthy  2020
13  14                           The Martian             Andy Weir  2020
32  33                         The Leftovers          Tom Perrotta  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
18  19                      The Hunger Games       Suzanne Collins  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
34  35                   The City & The City        China Mi√©ville  2020
37  38                  The Andromeda Strain      Michael Crichton  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
3    4                            Snow Crash       Neal Stephenson  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
28  29                         Old Man's War           John Scalzi  2020
2    3                           Neuromancer        William Gibson  2020
30  31                               Lock In           John Scalzi  2020
29  30                               Kindred     Octavia E. Butler  2020
21  22                         Jurassic Park      Michael Crichton  2020
12  13                              I, Robot          Isaac Asimov  2020
6    7                              Hyperion           Dan Simmons  2020
5    6                            Foundation          Isaac Asimov  2020
8    9                          Ender's Game      Orson Scott Card  2020
1    2                                  Dune         Frank Herbert  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
25  26                           Dark Matter          Blake Crouch  2020
22  23                               Contact            Carl Sagan  2020
7    8                       Brave New World         Aldous Huxley  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
20  21                   Alita: Battle Angel        Yukito Kishiro  2020

In [75]:
df.sort_index()

    id                                  name                author  year
0    1                     The Space Odyssey      Arthur C. Clarke  2020
1    2                                  Dune         Frank Herbert  2020
2    3                           Neuromancer        William Gibson  2020
3    4                            Snow Crash       Neal Stephenson  2020
4    5             The Left Hand of Darkness     Ursula K. Le Guin  2020
5    6                            Foundation          Isaac Asimov  2020
6    7                              Hyperion           Dan Simmons  2020
7    8                       Brave New World         Aldous Huxley  2020
8    9                          Ender's Game      Orson Scott Card  2020
9   10                        Altered Carbon     Richard K. Morgan  2020
10  11  The Hitchhiker's Guide to the Galaxy         Douglas Adams  2020
11  12          The Expanse: Leviathan Wakes      James S.A. Corey  2020
12  13                              I, Robot          Isaac Asimov  2020
13  14                           The Martian             Andy Weir  2020
14  15                     Starship Troopers    Robert A. Heinlein  2020
15  16                The Three-Body Problem             Liu Cixin  2020
16  17  Do Androids Dream of Electric Sheep?        Philip K. Dick  2020
17  18                      The Time Machine            H.G. Wells  2020
18  19                      The Hunger Games       Suzanne Collins  2020
19  20                 The War of the Worlds            H.G. Wells  2020
20  21                   Alita: Battle Angel        Yukito Kishiro  2020
21  22                         Jurassic Park      Michael Crichton  2020
22  23                               Contact            Carl Sagan  2020
23  24                       The Windup Girl      Paolo Bacigalupi  2020
24  25                      The Fifth Season          N.K. Jemisin  2020
25  26                           Dark Matter          Blake Crouch  2020
26  27                              Red Mars  Kim Stanley Robinson  2020
27  28                   The Handmaid's Tale       Margaret Atwood  2020
28  29                         Old Man's War           John Scalzi  2020
29  30                               Kindred     Octavia E. Butler  2020
30  31                               Lock In           John Scalzi  2020
31  32                      The Dispossessed     Ursula K. Le Guin  2020
32  33                         The Leftovers          Tom Perrotta  2020
33  34                        Oryx and Crake       Margaret Atwood  2020
34  35                   The City & The City        China Mi√©ville  2020
35  36                              The Road       Cormac McCarthy  2020
36  37                             The Stand          Stephen King  2020
37  38                  The Andromeda Strain      Michael Crichton  2020

In [76]:
df.head()

    id                    name            author  year
23  24         The Windup Girl  Paolo Bacigalupi  2020
19  20   The War of the Worlds        H.G. Wells  2020
17  18        The Time Machine        H.G. Wells  2020
15  16  The Three-Body Problem         Liu Cixin  2020
36  37               The Stand      Stephen King  2020

In [77]:
df['name'].sort_values()

20                     Alita: Battle Angel
9                           Altered Carbon
7                          Brave New World
22                                 Contact
25                             Dark Matter
16    Do Androids Dream of Electric Sheep?
1                                     Dune
8                             Ender's Game
5                               Foundation
6                                 Hyperion
12                                I, Robot
21                           Jurassic Park
29                                 Kindred
30                                 Lock In
2                              Neuromancer
28                           Old Man's War
33                          Oryx and Crake
26                                Red Mars
3                               Snow Crash
14                       Starship Troopers
37                    The Andromeda Strain
34                     The City & The City
31                        The Dispossessed
11            The Expanse: Leviathan Wakes
24                        The Fifth Season
27                     The Handmaid's Tale
10    The Hitchhiker's Guide to the Galaxy
18                        The Hunger Games
4                The Left Hand of Darkness
32                           The Leftovers
13                             The Martian
35                                The Road
0                        The Space Odyssey
36                               The Stand
15                  The Three-Body Problem
17                        The Time Machine
19                   The War of the Worlds
23                         The Windup Girl
Name: name, dtype: object

In [78]:
df[['name', 'author','year']].head(10)

                         name             author  year
23            The Windup Girl   Paolo Bacigalupi  2020
19      The War of the Worlds         H.G. Wells  2020
17           The Time Machine         H.G. Wells  2020
15     The Three-Body Problem          Liu Cixin  2020
36                  The Stand       Stephen King  2020
0           The Space Odyssey   Arthur C. Clarke  2020
35                   The Road    Cormac McCarthy  2020
13                The Martian          Andy Weir  2020
32              The Leftovers       Tom Perrotta  2020
4   The Left Hand of Darkness  Ursula K. Le Guin  2020

In [79]:
df['year'].nlargest(10)

23    2020
19    2020
17    2020
15    2020
36    2020
0     2020
35    2020
13    2020
32    2020
4     2020
Name: year, dtype: int64

In [80]:
df.nlargest(8, 'year')

    id                    name            author  year
23  24         The Windup Girl  Paolo Bacigalupi  2020
19  20   The War of the Worlds        H.G. Wells  2020
17  18        The Time Machine        H.G. Wells  2020
15  16  The Three-Body Problem         Liu Cixin  2020
36  37               The Stand      Stephen King  2020
0    1       The Space Odyssey  Arthur C. Clarke  2020
35  36                The Road   Cormac McCarthy  2020
13  14             The Martian         Andy Weir  2020

In [81]:
df.nsmallest(10, 'year')

    id                       name             author  year
23  24            The Windup Girl   Paolo Bacigalupi  2020
19  20      The War of the Worlds         H.G. Wells  2020
17  18           The Time Machine         H.G. Wells  2020
15  16     The Three-Body Problem          Liu Cixin  2020
36  37                  The Stand       Stephen King  2020
0    1          The Space Odyssey   Arthur C. Clarke  2020
35  36                   The Road    Cormac McCarthy  2020
13  14                The Martian          Andy Weir  2020
32  33              The Leftovers       Tom Perrotta  2020
4    5  The Left Hand of Darkness  Ursula K. Le Guin  2020

2 - Grouping and Aggregating - (Analyzing and Exploring your Data)

In [82]:
df.sort_values(by=['id'], inplace=True)

In [83]:
df.head()

   id                       name             author  year
0   1          The Space Odyssey   Arthur C. Clarke  2020
1   2                       Dune      Frank Herbert  2020
2   3                Neuromancer     William Gibson  2020
3   4                 Snow Crash    Neal Stephenson  2020
4   5  The Left Hand of Darkness  Ursula K. Le Guin  2020

In [84]:
df['year'].head(15)

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
Name: year, dtype: int64

In [85]:

df['year'].median()

2020.0

In [86]:
df.describe()

              id    year
count  38.000000    38.0
mean   19.500000  2020.0
std    11.113055     0.0
min     1.000000  2020.0
25%    10.250000  2020.0
50%    19.500000  2020.0
75%    28.750000  2020.0
max    38.000000  2020.0

In [87]:

df['year'].count()

38

In [88]:
df['year']

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
11    2020
12    2020
13    2020
14    2020
15    2020
16    2020
17    2020
18    2020
19    2020
20    2020
21    2020
22    2020
23    2020
24    2020
25    2020
26    2020
27    2020
28    2020
29    2020
30    2020
31    2020
32    2020
33    2020
34    2020
35    2020
36    2020
37    2020
Name: year, dtype: int64

In [89]:
df['year'].value_counts()

year
2020    38
Name: count, dtype: int64

In [90]:
df.loc[37]

id                          38
name      The Andromeda Strain
author        Michael Crichton
year                      2020
Name: 37, dtype: object

In [91]:
df['name'].value_counts(normalize=True)

name
The Space Odyssey                       0.026316
Old Man's War                           0.026316
Jurassic Park                           0.026316
Contact                                 0.026316
The Windup Girl                         0.026316
The Fifth Season                        0.026316
Dark Matter                             0.026316
Red Mars                                0.026316
The Handmaid's Tale                     0.026316
Kindred                                 0.026316
Dune                                    0.026316
Lock In                                 0.026316
The Dispossessed                        0.026316
The Leftovers                           0.026316
Oryx and Crake                          0.026316
The City & The City                     0.026316
The Road                                0.026316
The Stand                               0.026316
Alita: Battle Angel                     0.026316
The War of the Worlds                   0.026316
The Hunger Games                        0.026316
The Time Machine                        0.026316
Neuromancer                             0.026316
Snow Crash                              0.026316
The Left Hand of Darkness               0.026316
Foundation                              0.026316
Hyperion                                0.026316
Brave New World                         0.026316
Ender's Game                            0.026316
Altered Carbon                          0.026316
The Hitchhiker's Guide to the Galaxy    0.026316
The Expanse: Leviathan Wakes            0.026316
I, Robot                                0.026316
The Martian                             0.026316
Starship Troopers                       0.026316
The Three-Body Problem                  0.026316
Do Androids Dream of Electric Sheep?    0.026316
The Andromeda Strain                    0.026316
Name: proportion, dtype: float64

In [92]:
df['author'].value_counts()

author
H.G. Wells              2
Isaac Asimov            2
Michael Crichton        2
Margaret Atwood         2
John Scalzi             2
Ursula K. Le Guin       2
Tom Perrotta            1
Octavia E. Butler       1
Suzanne Collins         1
China Mi√©ville          1
Kim Stanley Robinson    1
Blake Crouch            1
N.K. Jemisin            1
Paolo Bacigalupi        1
Carl Sagan              1
Cormac McCarthy         1
Yukito Kishiro          1
Arthur C. Clarke        1
Frank Herbert           1
Philip K. Dick          1
Liu Cixin               1
Robert A. Heinlein      1
Andy Weir               1
James S.A. Corey        1
Douglas Adams           1
Richard K. Morgan       1
Orson Scott Card        1
Aldous Huxley           1
Dan Simmons             1
Neal Stephenson         1
William Gibson          1
Stephen King            1
Name: count, dtype: int64

In [93]:
authors_group = df.groupby(df['author'])
authors_group

In [94]:
authors_group.get_group('Isaac Asimov')

    id        name        author  year
5    6  Foundation  Isaac Asimov  2020
12  13    I, Robot  Isaac Asimov  2020

In [95]:
filt = df['author'] == 'H.G. Wells'
df.loc[filt]['name'].value_counts()

name
The Time Machine         1
The War of the Worlds    1
Name: count, dtype: int64

In [96]:
authors_group['author'].value_counts().loc['H.G. Wells']

2

In [97]:
authors_group['id'].median().loc['H.G. Wells']

19.0

In [98]:
authors_group['id'].agg(['median', 'mean']).loc['Isaac Asimov']

median    9.5
mean      9.5
Name: Isaac Asimov, dtype: float64

In [99]:
authors_group['name'].contains('Python').sum() # ESto no funciona

AttributeError: 'SeriesGroupBy' object has no attribute 'contains'

In [ ]:
authors_group['name'].apply(lambda x: x.str.contains('dark').sum())

author
Aldous Huxley           0
Andy Weir               0
Arthur C. Clarke        0
Blake Crouch            0
Carl Sagan              0
China Mi√©ville          0
Cormac McCarthy         0
Dan Simmons             0
Douglas Adams           0
Frank Herbert           0
H.G. Wells              0
Isaac Asimov            0
James S.A. Corey        0
John Scalzi             0
Kim Stanley Robinson    0
Liu Cixin               0
Margaret Atwood         0
Michael Crichton        0
N.K. Jemisin            0
Neal Stephenson         0
Octavia E. Butler       0
Orson Scott Card        0
Paolo Bacigalupi        0
Philip K. Dick          0
Richard K. Morgan       0
Robert A. Heinlein      0
Stephen King            0
Suzanne Collins         0
Tom Perrotta            0
Ursula K. Le Guin       0
William Gibson          0
Yukito Kishiro          0
Name: name, dtype: int64

In [ ]:
groupOne = authors_group['name'].apply(lambda x: x.str.contains('dark').sum())
groupOne

author
Aldous Huxley           0
Andy Weir               0
Arthur C. Clarke        0
Blake Crouch            0
Carl Sagan              0
China Mi√©ville          0
Cormac McCarthy         0
Dan Simmons             0
Douglas Adams           0
Frank Herbert           0
H.G. Wells              0
Isaac Asimov            0
James S.A. Corey        0
John Scalzi             0
Kim Stanley Robinson    0
Liu Cixin               0
Margaret Atwood         0
Michael Crichton        0
N.K. Jemisin            0
Neal Stephenson         0
Octavia E. Butler       0
Orson Scott Card        0
Paolo Bacigalupi        0
Philip K. Dick          0
Richard K. Morgan       0
Robert A. Heinlein      0
Stephen King            0
Suzanne Collins         0
Tom Perrotta            0
Ursula K. Le Guin       0
William Gibson          0
Yukito Kishiro          0
Name: name, dtype: int64

In [ ]:
groupTwo = df['name'].value_counts()
groupTwo

name
The Space Odyssey                       1
Old Man's War                           1
Jurassic Park                           1
Contact                                 1
The Windup Girl                         1
The Fifth Season                        1
Dark Matter                             1
Red Mars                                1
The Handmaid's Tale                     1
Kindred                                 1
Dune                                    1
Lock In                                 1
The Dispossessed                        1
The Leftovers                           1
Oryx and Crake                          1
The City & The City                     1
The Road                                1
The Stand                               1
Alita: Battle Angel                     1
The War of the Worlds                   1
The Hunger Games                        1
The Time Machine                        1
Neuromancer                             1
Snow Crash                              1
The Left Hand of Darkness               1
Foundation                              1
Hyperion                                1
Brave New World                         1
Ender's Game                            1
Altered Carbon                          1
The Hitchhiker's Guide to the Galaxy    1
The Expanse: Leviathan Wakes            1
I, Robot                                1
The Martian                             1
Starship Troopers                       1
The Three-Body Problem                  1
Do Androids Dream of Electric Sheep?    1
The Andromeda Strain                    1
Name: count, dtype: int64

In [ ]:
new_df = pd.concat([groupOne, groupTwo], axis='columns', sort=False)
new_df

                                      name  count
Aldous Huxley                          0.0    NaN
Andy Weir                              0.0    NaN
Arthur C. Clarke                       0.0    NaN
Blake Crouch                           0.0    NaN
Carl Sagan                             0.0    NaN
...                                    ...    ...
The Martian                            NaN    1.0
Starship Troopers                      NaN    1.0
The Three-Body Problem                 NaN    1.0
Do Androids Dream of Electric Sheep?   NaN    1.0
The Andromeda Strain                   NaN    1.0

[70 rows x 2 columns]

In [ ]:
new_df.rename(columns={'name':'nombres', 'count':'num'}, inplace=True)
new_df

                                      nombres  num
Aldous Huxley                             0.0  NaN
Andy Weir                                 0.0  NaN
Arthur C. Clarke                          0.0  NaN
Blake Crouch                              0.0  NaN
Carl Sagan                                0.0  NaN
...                                       ...  ...
The Martian                               NaN  1.0
Starship Troopers                         NaN  1.0
The Three-Body Problem                    NaN  1.0
Do Androids Dream of Electric Sheep?      NaN  1.0
The Andromeda Strain                      NaN  1.0

[70 rows x 2 columns]

In [ ]:
new_df['Percentcalculacion'] = (new_df['nombres'] / new_df['num']) * 100
new_df

,nombres,num,calculacion,Percentcalculacion
Aldous Huxley,0.0,NaN,NaN,NaN
Andy Weir,0.0,NaN,NaN,NaN
Arthur C. Clarke,0.0,NaN,NaN,NaN
Blake Crouch,0.0,NaN,NaN,NaN
Carl Sagan,0.0,NaN,NaN,NaN
...,...,...,...,...
The Martian,NaN,1.0,NaN,NaN
Starship Troopers,NaN,1.0,NaN,NaN
The Three-Body Problem,NaN,1.0,NaN,NaN
Do Androids Dream of Electric Sheep?,NaN,1.0,NaN,NaN
The Andromeda Strain,NaN,1.0,NaN,NaN