In [1]:
person = {
"first": "Corey",
"last": "Schafer",
"email": "CoreyMSchager@gmail.com",
}

people = {
"first": ["Corey","Jane","Jhon"],
"last": ["Schafer","Doe","Doe"],
"email": ["CoreyMSchager@gmail.com","loco@gamil.com","lineal@gmail.com"],
}

In [2]:
people['email']

['CoreyMSchager@gmail.com', 'loco@gamil.com', 'lineal@gmail.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchager@gmail.com
1   Jane      Doe           loco@gamil.com
2   Jhon      Doe         lineal@gmail.com

In [7]:
df['email']

0    CoreyMSchager@gmail.com
1             loco@gamil.com
2           lineal@gmail.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [9]:
df[['last', "email"]]

      last                    email
0  Schafer  CoreyMSchager@gmail.com
1      Doe           loco@gamil.com
2      Doe         lineal@gmail.com

In [11]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [22]:
df.iloc[[0,1], 2]

0    CoreyMSchager@gmail.com
1             loco@gamil.com
Name: email, dtype: object

In [17]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchager@gmail.com
1   Jane      Doe           loco@gamil.com
2   Jhon      Doe         lineal@gmail.com

In [24]:
df.loc[[0,1], ["email", "last"]]

                     email     last
0  CoreyMSchager@gmail.com  Schafer
1           loco@gamil.com      Doe